/* --- Modmail button in header banner? With not fixed yet.
 --- */

.side .md [href="//#"] {
    position: absolute;
    width: 50px;
    top: 30px;
    right:10px;
    background: #fff;
    z-index: 99;
}


/* ---  [Sidebarimglink](www.reddit.com)

.side .md a[href*='www.reddit.com'] {
    border-radius: 2px;
    display: block;
    font-size: 0;
    height: 192px;
    position: absolute;
    right: 16px;
    top: 80px;
    z-index: 1;
    width: 320px;
    -webkit-transition: none !important;
    transition: none !important;
}


--- */

/* --- Add-on: This is a part of the link box.. just spacing stuff i guess?  --- */

.side .md h4:nth-of-type(1) {
    list-style-type:none!important;
    position: absolute;
    font-size: 14px;
    display: block;
    top: 10px; /*Change this in relation to your header's height*/
    left: -850px; /*adjust this is well*/
    margin:0;
    background-color: #f6f7f8!important; /*Change for different background color*/
    color: #555; /*Change for different text color*/
    text-align: left;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    width: auto;
    padding: 7px 10px 7px 10px;
    white-space: nowrap;
    overflow: hidden;
}

.side .md h4:nth-of-type(1) a {
    color: rgb(51, 102, 153); /*Changes the colors of the links*/
}

.content {
    margin-top:45px!important; /*Increase or decrease depending on how much room you need*/
}



/* --- Add-on: LINK BOX BEFORE LISTINGS ON MAIN PAGE --- */

      body.listing-page > .content {margin-top: 66px;}

.side .titlebox .md h5 {
    display: none;
}

    .listing-page .side .titlebox .md h5 {
           display: block;
           min-width:550px;
           overflow: hidden;
           text-overflow: hidden;
           position: absolute;
           top: 193px;
           left: 16px;
           border-radius: 2px;
           padding: 0px 15px;
           background: #BD1F1F;
           box-shadow:0 1px 4px 0 rgba(0,0,0,0.14);
           right: 352px;
           font-size: 13px;
           height: 35px; line-height: 35px;
           text-decoration: none;
           animation-name: fadein;
           animation-duration: .75s;
           animation-iteration-count: 1;
          -webkit-animation-name: fadein;
          -webkit-animation-duration: .75s;
          -webkit-animation-iteration-count: 1;
          }

          .md, .md h5 {font-weight: 400;}
          .md h5 {border: 0;color: #fff!important}
           h5 {font-size: 100%;}


.flair-vlt-member {
    color: #CF2F2F;
    font-weight: 900;
}
.stickied .flair-vlt-member {
    color: #fafafa;
}
.stickied.comment .child .flair {
    color: #CF2F2F;
}

$linkflair-sticky-colors: (
    "info": #009148,
    "announcement": #D95D00,
    "live": #870706,
    "twitter": #0684BA
);

.thing.stickied {
    background-color: #9A2B2B !important;
}

@each $name, $color in $linkflair-sticky-colors {
    .thing.stickied.linkflair-#{$name}, .thing.stickied.linkflair-#{$name} .RES-keyNav-activeElement, .thing.stickied.linkflair-#{$name} .RES-keyNav-activeElement .md-container {
        background-color: $color;
    }
}
.thing.stickied.comment, .thing.stickied.comment .new-comment .usertext-body, .thing.stickied.comment .usertext-body.may-blank-within.md-container {
    background-color: #009148 !important;
}
.thing.stickied.comment .child .RES-keyNav-activeElement .md-container, .thing.stickied.comment .child .new-comment .usertext-body, .thing.stickied.comment .child .usertext-body.may-blank-within.md-container {
    background-color: #fff !important;
}
.thing.stickied .md, .thing.stickied .md * {
    color: #fcfcfc;
}
.thing.stickied.comment .child .md {
    color: #292f34;
}
.thing.stickied .entry .tagline, .link.domain a, .tagline.stickied-tagline {
    color: #ddd;
}
.thing.stickied .entry .tagline a {
    color: #d9d9d9;
}
.thing.stickied .child .tagline a, .thing.stickied .child .morecomments {
    color: #98abba;
}
.thing.stickied .morecomments a, .thing.stickied .morecomments a .gray {
    color: #fafafa !important;
}
.thing.stickied .score {
    color: #e9e9e9
}
.thing.stickied .child .score {
    color: rgb(51, 51, 51);
}
.thing.stickied .expando-button {
    background: #d9d9d9;
}
.thing.stickied.comment .child .expando-button {
    background: transparent;
}

.commentarea .menuarea .toggle a, .help-hoverable, .commentarea .menuarea span.dropdown-title.lightdrop {
    color: #363636;
}