/*Smaller VLT Page Title*/
#header .pagename a {
    font-size: 32px!important;
}


/* Main Page Background */
body {
 background:
    url(%%bg%%) center/cover!important;

}


/* Modmail Hover Button */

a[title="hoverbutton"] {
    position: absolute;
    display: block!important;
    width: 320px!important;
    height: 35px!important;
    line-height: 17px!important;
    font-weight: 700!important;
    border: 3px solid #424242;
    padding: 5px!important;
    right: 17px;
    top: 468px;
    z-index: 99;

}

.titlebox {
    margin-top: 50px;
}

@media screen and (max-width: 936px) {
    a[title="hoverbutton"] {
        visibility: hidden;
    }
}

@mixin brand-logo($x-offset) {
    &::before {
        content: "";
        display: inline-block;
        background-image: url(%%logos%%);
        background-size: cover;
        background-position-x: $x-offset;
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }
}

a[title="facebook"] {
    background-color: #3b5998 !important;
    @include brand-logo(0);
}

a[title="twitter"] {
    background-color: #1DA1F2 !important;
    @include brand-logo(128px);
}

a[title="discord"] {
    background-color: #7289DA !important;
    @include brand-logo(256px);
}