.stickied .thumbnail {
  background-color: #ad2d2c;
  background: url(%%ancmt-thumb%%);
}

.linkflair-info .linkflairlabel {
  background-color: #1BB76E;
}
.linkflair-info .thumbnail {
  background-color: #1BB76E;
  background: url(%%Info-Flair-green%%);
}



.linkflair-announcement .linkflairlabel {
  background-color: #ff8300;
}

.linkflair-announcement .thumbnail {
  background: url(%%ancmt-thumb-orng%%);
}


.linkflair-live .thumbnail {
  background-color: #ad2d2c;
  background: url(%%LT-Flair%%);
}
.linkflair-live .linkflairlabel {
  background-color: #ad2d2c;
}

.linkflair-twitter .thumbnail {
  background-color: #2CAAE0;
  background: url(%%twitter-thumb%%);
}
.linkflair-twitter .linkflairlabel {
  background-color: #2CAAE0;
}